@font-face {
  font-family: 'CrypsureText';
  src: url('https://site-assets.pubstudioassets.com/15bb4bff-3511-489b-b427-3de45b98c54a/fe47c765-9e05-4b39-9457-7696ad95b620.woff2')
    format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'CrypsureText';
  src: url('https://site-assets.pubstudioassets.com/15bb4bff-3511-489b-b427-3de45b98c54a/d1f0d6c2-9b64-4a88-b05f-1771874ee017.woff2')
    format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'CrypsureText';
  src: url('https://site-assets.pubstudioassets.com/15bb4bff-3511-489b-b427-3de45b98c54a/03233c1e-c61d-417b-8f1e-0796481e30e8.woff2')
    format('woff2');
  font-weight: 700;
}
